* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    padding: 5px;
}

.pointField:hover {
    outline: 2px solid yellow;
}